*.pdb
*.dll.config
*.cache
!*CommonReferences/*.dll
UpgradeLog.XML
_UpgradeReport_Files/
bin/
obj/
TestResults/
*.Publish.xml
/_ReSharper.*
*.ReSharper.*
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sqlite
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.[Cc]ache
*[Rr]esharper*
NuGet.exe
_[Ss]cripts
*.ncrunchsolution
*.dot[Cc]over